/* spinner for parameter entry */

input[type="number"] {
    position: relative;
    margin: 2 2  2  2px;
    max-width: 60px;
    min-width: 60px;
    min-height:33px;
    font-family: 'DSEG7Classic-Bold';
    background: rgb(0, 0, 0);
    color:rgb(255, 251, 4);
    border-color: black;
}

/* Spin Buttons modified */
input[type="number"].ledspinner::-webkit-outer-spin-button, 
input[type="number"].ledspinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url("./updown-mirage.png") no-repeat center center;
    width: 24px;
    opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}


/* overrides for fieldset and legend. Boostrap 5 takes away some things I want back. 
<fieldset  style="padding:5px;border:3px solid blue;border-radius:8px;width: fit-content;" >
<legend style="float: none;margin-left: 10px;margin-right: 10px;padding-right: 10px;padding-left: 10px;width: fit-content;">Change Cutoff</legend>
<input id="input-number-mod" class="mod" style="background: rgb(0, 0, 0);color:rgb(255, 251, 4);font-family: 'DSEG7Classic-Bold'"
*/
legend {
    float: none;
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
    font-size: large;
    font-weight: bold;
}

label {
    vertical-align: middle;
}

fieldset {
    padding:5px;
    border:3px solid rgb(160, 25, 47);
    border-radius:8px;
    width: fit-content;
}
/* 7 segment display font */
@font-face {
    font-family: 'DSEG7Classic-Bold';
    src: url(./fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Bold.woff2) format('woff2');
  }

